include index

table.data-table
    thead
        tr
            th(scope="col")="Actor's name"
            th(scope="col")="Films"
    tdata
        for actor in actors
            tr
                td=actor[0]
                td=actor[1]["title"]

