include index

table.data-table
    thead
        tr
            th(scope="col")="Actor's name"
            th(scope="col")="Films"
    tdata
        for actor in actors
            tr
                td(rowspan=lengths[actor])=actor
                for actor_movie in actors[actor]
                    td=actor_movie["title"]

