include index

.input-group
    select.form-select.my-2#selection
        option(selected value="Votes") Votes
        option(value="Rating") Rating
    .input-group-append
        button.mx-2.my-2.btn.btn-outline-secondary#show(type='submit') Show
canvas.mx-2.my-2#my_chart


