doctype html
html
    head
        style().
            *{
                color: black;
                margin: 0;
                padding: 0;
            }
            nav{
                width: 100%;
                background-color: #F8F9FAFF;
                height: 50px;
            }
            table.nav{
                margin: 0;
                width: 50%;
                height: 100%;
            }
            .logo{
                text-decoration: None;
                font-size: 30px;
            }
            .logo:hover{
                color: #485F6E;
            }
            .link{
                font-size: 22px;
            }
            .link:hover{
                color: #485F6E;
            }
            td{
                text-align: center;
                vertical-align: center;
            }
            a{
                text-decoration: None;
            }
            .data-table{
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                width: 80%;
                border: 1px solid black;
            }

    head
        hr
        nav
            table.nav
                tr
                    td
                        a.logo(href='/#') IMDb
                    td
                        a.link(href='/database/movies') Films
                    td
                        a.link(href='/database/actors') Actors
                    td
                        a.link(href='/database/directors') Directors
                    td
                        a.link(href='/database/queries') Queries
        hr
    body
